*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, .navbar-brand {
    font-family: 'Cinzel', serif; 
}

.heritage-btn {
   
    background-color: #800000 !important; 
    color: #FFD700 !important;             
    border: 2px solid #5a0000 !important;
    
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.heritage-btn:hover {
    background-color: #a52a2a !important; 
    color: white !important;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}


.explore {
  background-image: url(./images/tajmahal.jpg) ;
  background-size: cover;  
  background-position: center;
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.container-fluid{
  background-color: maroon;
}

.btn {
  background-color: white;
  font-weight: 300;
  height : 5vmin;
  width : 500min;
  color: black;
  padding: 15px 30px;
  border-radius: 3vmin;
  font-size: 16px;
  cursor: pointer;
}

#fakeHeader{
    height: 8%;
    width: 100%;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: #FFDB58;
}

.page2{
    height: 92%;
    width: 100%;
background-color:  #FFDB58;
margin-top: 0;
}

.hide{
  display: none;
}

