*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.explore {
  background-image: url(./images/tajmahal.jpg) ;
  background-size: cover;  
  background-position: center;
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.container-fluid{
  background-color: maroon;
}

.btn {
  background-color: white;
  font-weight: 300;
  height : 5vmin;
  width : 500min;
  color: black;
  padding: 15px 30px;
  border-radius: 3vmin;
  font-size: 16px;
  cursor: pointer;
}

#fakeHeader{
    height: 8%;
    width: 100%;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: #FFDB58;
}

.page2{
    height: 92%;
    width: 100%;
background-color:  #FFDB58;
margin-top: 0;
}

.hide{
  display: none;
}